.map {
    height: 350px !important;
}

.else-title {
    padding-top: 25%;
    justify-content: center;
}

.map-exp {
    color: #9e9e9e;
    padding-left: 10px;
}

.save-btn {
    padding-top: 20px;
    align-content: right;
}
